Repository CartoDB/carto-react, pull requests merged in 2022-02, with the labels that each got.

#271 Add FeatureSelection tool
  CHANGELOG.md
  package.json
  packages/react-api/__tests__/hooks/mask-extension-util.test.js
  packages/react-api/__tests__/hooks/useCartoLayerProps.test.js
  packages/react-api/package.json
  packages/react-api/src/hooks/dataFilterExtensionUtil.js
  packages/react-api/src/hooks/maskExtensionUtil.js
  packages/react-api/src/hooks/useCartoLayerProps.js
  packages/react-api/src/types.d.ts
  packages/react-auth/package.json
  packages/react-basemaps/package.json
  packages/react-basemaps/src/basemaps/GoogleMap.js
  packages/react-core/src/index.d.ts
  packages/react-core/src/index.js
  packages/react-core/src/utils/featureSelectionConstants.js
  packages/react-redux/__tests__/cartoSlice.test.js
  packages/react-redux/package.json
  packages/react-redux/src/slices/cartoSlice.d.ts
  packages/react-redux/src/slices/cartoSlice.js
  packages/react-redux/src/types.d.ts
  packages/react-ui/__tests__/widgets/FeatureSelectionWidgetUI.test.js
  packages/react-ui/package.json
  packages/react-ui/src/index.js
  packages/react-ui/src/types.d.ts
  packages/react-ui/src/widgets/FeatureSelectionWidgetUI.js
  packages/react-ui/storybook/stories/widgetsUI/FeatureSelectionWidgetUI.stories.js
  packages/react-widgets/package.json
  packages/react-widgets/src/index.d.ts
  packages/react-widgets/src/index.js
  packages/react-widgets/src/layers/DrawingToolLayer.js
  packages/react-widgets/src/layers/EditableCartoGeoJsonLayer.js
  packages/react-widgets/src/layers/FeatureSelectionLayer.js
  packages/react-widgets/src/layers/MaskLayer.js
  packages/react-widgets/src/layers/useEventManager.js
  packages/react-widgets/src/widgets/FeatureSelectionWidget.js
  packages/react-widgets/webpack.config.js
  yarn.lock
Labels: builder

#312 Support for tiles in WGS84
  package.json
  packages/react-api/__tests__/hooks/useCartoLayerProps.test.js
  packages/react-api/package.json
  packages/react-api/src/hooks/useCartoLayerProps.js
  packages/react-api/src/hooks/useTileFeatures.js
  packages/react-basemaps/package.json
  packages/react-core/__tests__/filters/tileFeatures.test.js
  packages/react-core/package.json
  packages/react-core/src/filters/tileFeatures.js
  packages/react-core/src/types.d.ts
  packages/react-core/webpack.config.js
  packages/react-redux/package.json
  packages/react-widgets/package.json
  packages/react-workers/package.json
  packages/react-workers/src/workers/features.worker.js
  yarn.lock
Labels: enhancement, widgets

#314 Export FilterTypes enum
  CHANGELOG.md
  packages/react-core/src/filters/FilterQueryBuilder.d.ts
  packages/react-core/src/index.d.ts
  packages/react-core/src/types.d.ts
  packages/react-redux/src/slices/cartoSlice.d.ts
Labels: enhancement

#315 TimeSeriesWidget - Apply formatter on y axis max value label
  CHANGELOG.md
  packages/react-ui/src/widgets/TimeSeriesWidgetUI/TimeSeriesWidgetUI.js
  packages/react-ui/src/widgets/TimeSeriesWidgetUI/components/TimeSeriesChart.js
Labels: bug

#318 Polish Table Widget styles
  CHANGELOG.md
  packages/react-ui/src/theme/carto-theme.js
  packages/react-ui/src/widgets/TableWidgetUI/TableWidgetUI.js
Labels: widgets

#311 Legend improvements
  CHANGELOG.md
  packages/react-ui/src/index.d.ts
  packages/react-ui/src/index.js
  packages/react-ui/src/widgets/legend/LegendCategories.js
  packages/react-ui/src/widgets/legend/LegendWidgetUI.js
  packages/react-ui/storybook/stories/widgetsUI/LegendWidgetUI.stories.js
Labels: widgets

#317 HistogramWidgetUI - Handle xAxis long labels
  CHANGELOG.md
  packages/react-ui/src/widgets/HistogramWidgetUI.js
  packages/react-ui/src/widgets/utils/chartUtils.js
Labels: widgets

#324 Add optional slider to modify layer opacity in Legend widget
  packages/react-ui/__tests__/widgets/LegendWidgetUI.test.js
  packages/react-ui/src/assets/LayerIcon.js
  packages/react-ui/src/widgets/OpacityControl.js
  packages/react-ui/src/widgets/legend/LayerOptionWrapper.js
  packages/react-ui/src/widgets/legend/LegendWidgetUI.js
  packages/react-ui/src/widgets/legend/LegendWrapper.js
  packages/react-ui/storybook/stories/widgetsUI/LegendWidgetUI.stories.js
  packages/react-widgets/src/widgets/LegendWidget.js
Labels: enhancement, widgets

#327 Dynamic tiling integration
  CHANGELOG.md
  packages/react-api/__tests__/hooks/useCartoLayerProps.test.js
  packages/react-api/src/hooks/useCartoLayerProps.js
Labels: enhancement, builder

#328 Add legends tests/stories/types
  CHANGELOG.md
  packages/react-ui/__tests__/widgets/legend/LegendCategories.test.js
  packages/react-ui/__tests__/widgets/legend/LegendIcon.test.js
  packages/react-ui/__tests__/widgets/legend/LegendProportion.test.js
  packages/react-ui/__tests__/widgets/legend/LegendRamp.test.js
  packages/react-ui/src/index.d.ts
  packages/react-ui/src/types.d.ts
  packages/react-ui/src/utils/palette.js
  packages/react-ui/src/widgets/legend/LegendCategories.js
  packages/react-ui/src/widgets/legend/LegendIcon.js
  packages/react-ui/src/widgets/legend/LegendProportion.js
  packages/react-ui/src/widgets/legend/LegendRamp.js
  packages/react-ui/storybook/stories/widgetsUI/legend/LegendCategories.stories.js
  packages/react-ui/storybook/stories/widgetsUI/legend/LegendIcon.stories.js
  packages/react-ui/storybook/stories/widgetsUI/legend/LegendProportion.stories.js
  packages/react-ui/storybook/stories/widgetsUI/legend/LegendRamp.stories.js
Labels: documentation, enhancement, widgets

#336 Use layerConfig in useCartoLayerProps
  CHANGELOG.md
  packages/react-api/__tests__/hooks/useCartoLayerProps.test.js
  packages/react-api/src/hooks/useCartoLayerProps.d.ts
  packages/react-api/src/hooks/useCartoLayerProps.js
  packages/react-api/src/types.d.ts
Labels: enhancement

#325 Add customLegendTypes prop to customise covered legend types
  CHANGELOG.md
  packages/react-ui/__tests__/widgets/LegendWidgetUI.test.js
  packages/react-ui/src/types.d.ts
  packages/react-ui/src/widgets/legend/LegendWidgetUI.d.ts
  packages/react-ui/src/widgets/legend/LegendWidgetUI.js
  packages/react-widgets/src/widgets/LegendWidget.js
Labels: enhancement

#338 Add searchable prop in CategoryWidget to optionally use the search functionality
  CHANGELOG.md
  packages/react-ui/__tests__/widgets/CategoryWidgetUI.test.js
  packages/react-ui/src/widgets/CategoryWidgetUI.js
  packages/react-widgets/src/widgets/CategoryWidget.js
Labels: enhancement, widgets
