Repository CartoDB/carto-react, pull requests merged in 2022-05, with the labels that each got.

#403 Fix filters with null as upper or lower bound
  CHANGELOG.md
  packages/react-core/__tests__/utils/makeIntervalComplete.test.js
  packages/react-core/src/utils/makeIntervalComplete.js
Labels: bug

#229 Add BarWidget/BarWidgetUI
  CHANGELOG.md
  packages/react-ui/__tests__/widgets/BarWidgetUI.test.js
  packages/react-ui/__tests__/widgets/utils/formatterUtils.test.js
  packages/react-ui/src/index.d.ts
  packages/react-ui/src/index.js
  packages/react-ui/src/types.d.ts
  packages/react-ui/src/widgets/BarWidgetUI.js
  packages/react-ui/storybook/.storybook/preview.js
  packages/react-ui/storybook/stories/widgetsUI/BarWidgetUI.stories.js
  packages/react-widgets/src/index.d.ts
  packages/react-widgets/src/index.js
  packages/react-widgets/src/types.d.ts
  packages/react-widgets/src/widgets/BarWidget.js
  packages/react-widgets/src/widgets/HistogramWidget.js
Labels: widgets

#408 LegendCategories - display ellipsis and tooltip if label is too long
  CHANGELOG.md
  packages/react-ui/__tests__/widgets/legend/LegendCategories.test.js
  packages/react-ui/src/widgets/legend/LegendCategories.js
Labels: bug, enhancement, widgets
