Repository CartoDB/carto-react, pull requests merged in 2022-06, with the labels that each got.

#415 Use new Query Models in SQL API for global widgets
  CHANGELOG.md
  packages/react-api/__tests__/api/model.test.js
  packages/react-api/__tests__/api/stats.test.js
  packages/react-api/__tests__/dataMocks.js
  packages/react-api/src/api/model.js
  packages/react-api/src/index.d.ts
  packages/react-api/src/index.js
  packages/react-widgets/__tests__/models/CategoryModel.test.js
  packages/react-widgets/__tests__/models/FormulaModel.test.js
  packages/react-widgets/__tests__/models/HistogramModel.test.js
  packages/react-widgets/__tests__/models/TimeSeriesModel.test.js
  packages/react-widgets/src/models/CategoryModel.js
  packages/react-widgets/src/models/FormulaModel.js
  packages/react-widgets/src/models/HistogramModel.js
  packages/react-widgets/src/models/TimeSeriesModel.js
Labels: widgets

#425 Spatial index support for useCartoLayerProps
  CHANGELOG.md
  packages/react-api/src/hooks/useTileFeatures.js
  packages/react-core/src/index.d.ts
  packages/react-core/src/index.js
Labels: enhancement

#433 Add layerOrder in LegendWidget
  .gitignore
  CHANGELOG.md
  packages/react-api/src/api/common.js
  packages/react-api/src/api/model.js
  packages/react-api/src/api/stats.js
  packages/react-api/src/api/tilejson.js
  packages/react-core/src/index.d.ts
  packages/react-core/src/index.js
  packages/react-core/src/utils/assert.js
  packages/react-widgets/__tests__/widgets/utils/sortLayers.test.js
  packages/react-widgets/src/types.d.ts
  packages/react-widgets/src/widgets/LegendWidget.js
  packages/react-widgets/src/widgets/utils/sortLayers.js
Labels: widgets

#439 Check null value to avoid crash on category widget
  CHANGELOG.md
  packages/react-ui/src/widgets/CategoryWidgetUI.js
Labels: bug, widgets

#440 Return the spatial index ID as a property to be available for widgets
  CHANGELOG.md
  packages/react-api/src/hooks/useTileFeatures.js
  packages/react-core/src/filters/tileFeatures.js
  packages/react-core/src/filters/tileFeaturesSpatialIndex.d.ts
  packages/react-core/src/filters/tileFeaturesSpatialIndex.js
  packages/react-core/src/operations/constants/SpatialIndexTypes.d.ts
  packages/react-core/src/operations/constants/SpatialIndexTypes.js
  packages/react-core/src/types.d.ts
  packages/react-workers/src/workers/features.worker.js
Labels: enhancement, widgets
