Repository CartoDB/carto-react, pull requests merged in 2023-07, with the labels that each got.

#729 Passing client through widgets without component attribute
  CHANGELOG.md
  lerna.json
  packages/react-api/__tests__/api/model.test.js
  packages/react-api/package.json
  packages/react-api/src/api/model.js
  packages/react-auth/package.json
  packages/react-basemaps/package.json
  packages/react-core/package.json
  packages/react-core/src/index.d.ts
  packages/react-core/src/index.js
  packages/react-core/src/utils/clientParameter.d.ts
  packages/react-core/src/utils/clientParameter.js
  packages/react-redux/package.json
  packages/react-ui/package.json
  packages/react-widgets/package.json
  packages/react-widgets/src/models/CategoryModel.js
  packages/react-widgets/src/models/FormulaModel.js
  packages/react-widgets/src/models/RangeModel.js
  packages/react-widgets/src/models/TableModel.js
  packages/react-widgets/src/models/TimeSeriesModel.js
  packages/react-widgets/src/widgets/CategoryWidget.js
  packages/react-widgets/src/widgets/FormulaWidget.js
  packages/react-widgets/src/widgets/RangeWidget.js
  packages/react-widgets/src/widgets/TableWidget.js
  packages/react-widgets/src/widgets/TimeSeriesWidget.js
  packages/react-workers/package.json
Labels: chore

#731 ReactWidgets - Search by coordinates support
  CHANGELOG.md
  packages/react-widgets/__tests__/widgets/utils/validateCoordinates.test.js
  packages/react-widgets/src/hooks/useGeocoderWidgetController.js
  packages/react-widgets/src/widgets/utils/validateCoordinates.js
Labels: enhancement

#733 Fix blank map when loading widgets for tilesets
  CHANGELOG.md
  packages/react-widgets/src/hooks/useWidgetFetch.js
Labels: bug, widgets

#737 Add client to LDS Api
  CHANGELOG.md
  packages/react-api/__tests__/api/lds.test.js
  packages/react-api/src/api/lds.js
Labels: chore

#655 Build more accurate ranges for time filters
  CHANGELOG.md
  packages/react-widgets/src/widgets/TimeSeriesWidget.js
Labels: bug, widgets

#742 Improve regex to detect coordinate pairs on search location widget
  CHANGELOG.md
  packages/react-widgets/__tests__/widgets/utils/validateCoordinates.test.js
  packages/react-widgets/src/widgets/utils/validateCoordinates.js
Labels: widgets
