Repository CartoDB/carto-react, pull requests merged in 2023-06, with the labels that each got.

#683 Support remote table widget
  CHANGELOG.md
  lerna.json
  packages/react-api/__tests__/api/model.test.js
  packages/react-api/__tests__/dataMocks.js
  packages/react-api/__tests__/hooks/useCartoLayerProps.test.js
  packages/react-api/package.json
  packages/react-api/src/api/common.js
  packages/react-api/src/api/model.js
  packages/react-api/src/hooks/useCartoLayerProps.js
  packages/react-api/src/hooks/useTileFeatures.js
  packages/react-api/src/types.d.ts
  packages/react-auth/package.json
  packages/react-basemaps/package.json
  packages/react-core/__tests__/utils/columns.test.js
  packages/react-core/package.json
  packages/react-core/src/index.d.ts
  packages/react-core/src/index.js
  packages/react-core/src/utils/columns.d.ts
  packages/react-core/src/utils/columns.js
  packages/react-redux/package.json
  packages/react-redux/src/slices/cartoSlice.js
  packages/react-ui/package.json
  packages/react-ui/src/components/molecules/Table/TablePaginationActions.js
  packages/react-ui/src/theme/sections/components/dataDisplay.js
  packages/react-ui/src/widgets/TableWidgetUI/TableWidgetUI.js
  packages/react-ui/storybook/stories/widgetsUI/TableWidgetUI.stories.js
  packages/react-widgets/__tests__/models/TableModel.test.js
  packages/react-widgets/package.json
  packages/react-widgets/src/models/TableModel.js
  packages/react-widgets/src/models/index.js
  packages/react-widgets/src/models/utils.js
  packages/react-widgets/src/widgets/BarWidget.js
  packages/react-widgets/src/widgets/CategoryWidget.js
  packages/react-widgets/src/widgets/FormulaWidget.js
  packages/react-widgets/src/widgets/GeocoderWidget.js
  packages/react-widgets/src/widgets/HistogramWidget.js
  packages/react-widgets/src/widgets/LegendWidget.js
  packages/react-widgets/src/widgets/PieWidget.js
  packages/react-widgets/src/widgets/RangeWidget.js
  packages/react-widgets/src/widgets/ScatterPlotWidget.js
  packages/react-widgets/src/widgets/TableWidget.js
  packages/react-widgets/src/widgets/TimeSeriesWidget.js
  packages/react-workers/__tests__/methods.test.js
  packages/react-workers/package.json
  packages/react-workers/src/workers/methods.js
Labels: widgets

#704 C4R 2.1: mask applied to global widgets, FF on; remote scatter plot
  CHANGELOG.md
  packages/react-api/src/api/model.js
  packages/react-core/src/utils/featureFlags.js
  packages/react-widgets/__tests__/hooks/useWidgetFetch.test.js
  packages/react-widgets/src/hooks/useWidgetFetch.js
  packages/react-widgets/src/models/ScatterPlotModel.js
  packages/react-widgets/src/models/index.js
  packages/react-widgets/src/widgets/ScatterPlotWidget.js
Labels: widgets

#719 Fix: Apply SpatialFilter to Timeseries widget
  CHANGELOG.md
  packages/react-widgets/src/models/TimeSeriesModel.js
Labels: bug

#722 Supporting `client` parameter
  CHANGELOG.md
  packages/react-api/__tests__/api/model.test.js
  packages/react-api/src/api/model.js
  packages/react-widgets/src/models/CategoryModel.js
  packages/react-widgets/src/models/FormulaModel.js
  packages/react-widgets/src/models/RangeModel.js
  packages/react-widgets/src/models/TableModel.js
  packages/react-widgets/src/models/TimeSeriesModel.js
  packages/react-widgets/src/widgets/CategoryWidget.js
  packages/react-widgets/src/widgets/FormulaWidget.js
  packages/react-widgets/src/widgets/RangeWidget.js
  packages/react-widgets/src/widgets/TableWidget.js
  packages/react-widgets/src/widgets/TimeSeriesWidget.js
Labels: widgets

#721 Fix case sensitive for cell values
  CHANGELOG.md
  packages/react-ui/__tests__/widgets/TableWidgetUI.test.js
  packages/react-ui/src/widgets/TableWidgetUI/TableWidgetUI.js
Labels: bug, widgets
