Repository CartoDB/carto-react, pull requests merged in 2024-04, with the labels that each got.

#837 New Legend Widget
  packages/react-ui/__tests__/widgets/LegendWidgetUI.test.js
  packages/react-ui/__tests__/widgets/legend/LegendCategories.test.js
  packages/react-ui/__tests__/widgets/legend/LegendIcon.test.js
  packages/react-ui/__tests__/widgets/legend/LegendProportion.test.js
  packages/react-ui/__tests__/widgets/legend/LegendRamp.test.js
  packages/react-ui/src/assets/icons/OpacityIcon.js
  packages/react-ui/src/index.d.ts
  packages/react-ui/src/index.js
  packages/react-ui/src/localization/en.js
  packages/react-ui/src/localization/es.js
  packages/react-ui/src/localization/id.js
  packages/react-ui/src/types.d.ts
  packages/react-ui/src/widgets/legend/LayerOptionWrapper.js
  packages/react-ui/src/widgets/legend/LegendCategories.js
  packages/react-ui/src/widgets/legend/LegendIcon.js
  packages/react-ui/src/widgets/legend/LegendLayer.js
  packages/react-ui/src/widgets/legend/LegendLayerTitle.js
  packages/react-ui/src/widgets/legend/LegendLayerVariable.js
  packages/react-ui/src/widgets/legend/LegendOpacityControl.js
  packages/react-ui/src/widgets/legend/LegendProportion.js
  packages/react-ui/src/widgets/legend/LegendWidgetUI.d.ts
  packages/react-ui/src/widgets/legend/LegendWidgetUI.js
  packages/react-ui/src/widgets/legend/LegendWidgetUI.styles.js
  packages/react-ui/src/widgets/legend/LegendWrapper.js
  packages/react-ui/src/widgets/legend/Note.js
  packages/react-ui/src/widgets/legend/legend-types/LegendCategories.js
  packages/react-ui/src/widgets/legend/legend-types/LegendIcon.js
  packages/react-ui/src/widgets/legend/legend-types/LegendProportion.js
  packages/react-ui/src/widgets/legend/legend-types/LegendRamp.js
  packages/react-ui/src/widgets/legend/legend-types/LegendTypes.js
  packages/react-ui/storybook/.storybook/preview.js
  packages/react-ui/storybook/stories/widgetsUI/LegendWidgetUI.stories.js
  packages/react-ui/storybook/stories/widgetsUI/legend/LegendCategories.stories.js
  packages/react-ui/storybook/stories/widgetsUI/legend/LegendIcon.stories.js
  packages/react-ui/storybook/stories/widgetsUI/legend/LegendProportion.stories.js
  packages/react-ui/storybook/stories/widgetsUI/legend/LegendRamp.stories.js
  packages/react-ui/storybook/stories/widgetsUI/legendFixtures.js
  packages/react-widgets/src/widgets/LegendWidget.js
  tsconfig.json
Labels: enhancement, widgets

#860 configurable histogram y axis
  CHANGELOG.md
  packages/react-ui/src/widgets/HistogramWidgetUI/HistogramWidgetUI.js
  packages/react-widgets/src/widgets/HistogramWidget.js
Labels: builder, widgets

#861 Configurable timeseries y axis
  CHANGELOG.md
  packages/react-ui/src/widgets/TimeSeriesWidgetUI/TimeSeriesWidgetUI.js
  packages/react-ui/src/widgets/TimeSeriesWidgetUI/components/TimeSeriesChart.js
  packages/react-widgets/src/widgets/TimeSeriesWidget.js
Labels: builder, widgets

#863 TimeSeriesWidget: support removing series in mounted widget
  CHANGELOG.md
  packages/react-ui/src/widgets/TimeSeriesWidgetUI/components/TimeSeriesChart.js
Labels: bug, widgets
